@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body{
    margin: 0;
    font-family: "Cal Sans", 'Arial';
    background-color: hsl(217, 84%, 17%);

}
.conteiner {
    display: flex;
}
/* NAVBAR */
.nav-bar{
    margin: 0;
    height: 100vh;
    width: 15vw;
    background-color: #0A3880;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    position: fixed;
}
a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    margin-bottom: 20vh
}
.box {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 5vh;
    width: 10vw;
    background-color: #FDD500;
    border-radius: 40px;

    
}
.box a{
    position: relative;
    top: 1.3vh;
}
.box1 {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 5vh;
    width: 10vw;
    background-color: #FDD500;
    border-radius: 40px;

    
}
.box1 a{
    position: relative;
    top: 1.3vh;
}
.box2 {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 5vh;
    width: 10vw;
    background-color: #FDD500;
    border-radius: 40px;

    
}
.box2 a{
    position: relative;
    top: 1.3vh;
}
.box3 {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 5vh;
    width: 10vw;
    background-color: #FDD500;
    border-radius: 40px;

    
}
.box3 a{
    position: relative;
    top: 1.3vh;
}
/* DASH */
.dash {
    display: flex;
    justify-content: center;
    padding-left: 10vw;
}
#GraphQuestionario {
    width: 30vw;
    display: flex;
    align-items: center;
    height: 60%;
    height: 50vh;
    justify-content: center;
    background-color: #0A3880;;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}
.usuario {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.hello {
    display: flex;
    align-items: center;
    width: 100%;
    color: #FDD500;
    flex-direction: column;
    
}
.dashquestionario {
    margin-top: 100px;
    display: flex;
    align-items: center;
    width: 80%;
    color: #FDD500;
    flex-direction: column;
    padding-left: 11vw;
}
.nomeUsuario{
    transition: 0.3s ease-in-out;
}
.nomeUsuario:hover {
    font-size: 30px;
}
.p_classe {
    transition: 0.3s ease-in-out;
}
.p_classe:hover {
    font-size: 22px;
}
#GraphQuestionario:hover {
    padding: 20px;
}
.kpiQuiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    transform: translateX(50px);
}

#kpi_quizcerta{
    display: flex;
    color: green;
    background-color: #0A3880;
    width: 8vw;
    height: 10vh;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}
#kpi_quizerrada{
    display: flex;
    color: red;
    background-color: #0A3880;
    width: 8vw;
    height: 10vh;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}
.certas {
    display: flex;
    align-items: center;
}
.conteiner {
    display: flex;
}
/* DASH */
.conteiner-graph {
    display: flex;
    transform: translateX(25.6vw);
    width: 60%;
}
.dash2 {
    height: 30vw;
    width: 30vw;
    background-color: #0A3880;
    border-radius: 20px;
    transform: translateX(10vw) translateY(10vh);
    position: hidden;
}
.dash2 p{
    display: flex;
    width: 100%;
    justify-content: center;
    color: #FDD500;
}
.dado-graph {
    display: flex;
    flex-direction: column;
    height: 6vw;
    width: 30vw;
    background-color: #0A3880;
    border-radius: 20px;
    transform: translateY(1vh);
    align-items: center;
    justify-content: center;
    color: #FDD500;
    font-size: 30px;
    transition: 0.2s ease-in-out;
}
p {
    margin: 0;
    font-size: 16px;
}
span {
    transition: 0.2s ease-in-out;
}
.dado-graph:hover span{
    font-size: 40px;
}