@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body{
    margin: 0;
    font-family: "Cal Sans", 'Arial';
}

/* Navbar */
.nav-bar{
    margin-top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    top: 1.8vh;
    left: 1.2vw;
    width: 95vw;
    height: 13vh;
    border-radius: 12px;
    background-color: rgb(245,245,255,50%);
    list-style-type: none;
    position: absolute;
    
}
.nav-bar a {
    text-decoration: none;
    color: black;
    margin-right: 5vw;
    opacity: 100%;
    transition: 0.2s ease-in-out;
}
a:hover{
    font-size: 20px;
}
.nav-bar img{
    margin-right: 30vw;
    width: 3vw;
}
.nav-bar .login a{
    justify-content: center;
}
.nav-bar .login:hover a{
    width: 1vw;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    transition: 0.2s;
}
/* video de fundo */
section{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: black;
}
section .conteiner-inicial{ /* conteiner do video */
    width: 100%;
    height: 100%;
    position: absolute; /* definindo a sua posicao */
}
.conteiner-inicial video{
    width: 100%;
    height: 100%;
    object-fit: cover; /* faz com que o video fique como se fosse um plano de fundo na pagina */
    display: flex;
    justify-content: center;
    opacity: 40%;
}
.conteiner-conteudo p{
    position: relative; /* faz com que esse conteudo fique na frente do video */
    margin: 0;
    display: flex;
    top: 30vh; /* modifica o local do paragrafo de acordo com a sua posicao */

    padding-left: 1vw;
    font-size: 80px;
    font-weight: bold;
    
    justify-self: flex-start;
    height: 50%;
    align-items: center;
    color: aliceblue;
    transition: 0.3s ease-in-out;  /* coloca uma transicao no paragrafo */
}
.conteiner-conteudo p:hover{
    font-size: 90px;
    color:brown /* troca a cor do texto para marrom */
}
.gradiente {
    position: relative;
    width: 100%;
    height: 15vh;
    top: 35vh;

    background: linear-gradient(to bottom, transparent,#0A3880);
}
/* O QUE É */
.oque {
    background-image: url('../assets/imgs/background-image1.png');
    width: 99.2vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

}
.oque h1{
    margin-top: 0;
    padding-top: 20vh;
    padding-left: 5vw;
    font-size: 60px;
    color: #FDD500;
}

.oque p{
    width: 35%;
    font-size: 24px;
    color: aliceblue;
}
.o_que_text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.o_que_text img{
    padding-left: 9vw;
    width: 35vw;
}

/* CAMPORI */
.campori {
    background-image: url('../assets/imgs/background-image2.png');
    width: 99.2vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

}
.campori h1{
    margin-top: 0;
    padding-top: 12vh;
    padding-left: 5vw;
    font-size: 60px;
    color: #FDD500;
}

.campori p{
    width: 35%;
    font-size: 24px;
    color: aliceblue;
    padding-left: 9vw;
}
.campori_text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.campori_text img{
    width: 35vw;
}

/* Camporis */

.campori .titulo2 {
    display: flex;
    justify-content: center;
}
.camporis {
    width: 99.2vw;
    height: 100vh;
    background-color: #0A3880;
    display: flex;
    flex-direction: column;
}
.brasioes_camporis img{
    width: 100%;
    height: 20%;
}
.camporis .gradiente {
    position: relative;
    width: 100%;
    height: 15vh;
    top: 49.1vh;

    background: linear-gradient(to bottom, transparent,#FDD500);
}

/* IDEAIS */

.ideais {
    background-color: #FDD500;
    width: 99.2vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

}
.ideais h1{
    width: 100%;
    margin-top: 0;
    padding-top: 12vh;
    font-size: 60px;
    color: aliceblue;
    display: flex;
    justify-content: center;
}
/* voto */
.ideais .box-voto p{
    transition: 0.2s ease-in-out;
    opacity: 0;
}
.box-ideais {
    display: flex;
    flex-direction: column;
}
.box-ideais .conteiner1 {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.box-voto {
    width: 10vw;
    height: 25vh;
    border-radius: 10px;
    background-color: red;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in-out;
}
.box-voto img{
    width: 10vw;
    height: 15vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.ideais .box-voto:hover{
    width: 10vw;
    height: 40vh;
    background-color: red;
    transition: 0.2s ease-in-out;
}
.ideais p{
    width: 10vw;
}
.ideais .box-voto:hover p {
    opacity: 100%;
    transform: translateY(20px);
}
.ideais .box-voto:hover h2 {
    right: 5vw;
}
/* lei */
.ideais .box-lei p{
    transition: 0.2s ease-in-out;
    opacity: 0;
}

.box-lei {
    width: 10vw;
    height: 25vh;
    border-radius: 10px;
    background-color: red;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in-out;
}
.box-lei img{
    width: 10vw;
    height: 15vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.ideais .box-lei:hover{
    width: 10vw;
    height: 57vh;
    background-color: red;
    transition: 0.2s ease-in-out;
}
.ideais .box-lei:hover p {
    opacity: 100%;
    transform: translateY(20px);
}
.ideais .box-lei:hover h2 {
    right: 5vw;
}
/* alvo */
.ideais .box-alvo p{
    transition: 0.2s ease-in-out;
    opacity: 0;
}

.box-alvo {
    width: 10vw;
    height: 25vh;
    border-radius: 10px;
    background-color: red;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in-out;
}
.box-alvo img{
    width: 10vw;
    height: 15vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.ideais .box-alvo:hover{
    width: 10vw;
    height: 35vh;
    background-color: red;
    transition: 0.2s ease-in-out;
}
.ideais .box-alvo:hover p {
    opacity: 100%;
    transform: translateY(20px);
}
.ideais .box-alvo:hover h2 {
    right: 5vw;
}
/* conteiner2 ideais -- lema */
.conteiner2 {
    padding-top: 10vh;
}
.ideais .box-lema p{
    transition: 0.2s ease-in-out;
    opacity: 0;
}
.box-ideais .conteiner2 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-left: 0.8vw;
}

.box-lema {
    width: 10vw;
    height: 25vh;
    border-radius: 10px;
    background-color: red;
    
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in-out;
    position: relative;
    right: 0.5vw;
}
.box-lema img{
    width: 10vw;
    height: 15vh;
    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.ideais .box-lema:hover{
    width: 10vw;
    height: 32vh;
    background-color: red;
    transition: 0.2s ease-in-out;
}
.ideais .box-lema:hover p {
    opacity: 100%;
    transform: translateY(20px);
}
.ideais .box-lema:hover h2 {
    right: 5vw;
}
/* objetivo */
.ideais .box-objetivo p{
    transition: 0.2s ease-in-out;
    opacity: 0;
}

.box-objetivo {
    width: 10vw;
    position: relative;
    right: 0.5vw;
    height: 25vh;
    border-radius: 10px;
    background-color: red;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in-out;
}
.box-objetivo img{
    width: 10vw;
    height: 15vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.ideais .box-objetivo:hover{
    width: 10vw;
    height: 32vh;
    background-color: red;
    transition: 0.2s ease-in-out;
}
.ideais .box-objetivo:hover p {
    opacity: 100%;
    transform: translateY(20px);
}
.ideais .box-objetivo:hover h2 {
    right: 5vw;
}

/* voto de fidlelidade a biblia */

.ideais .box-fidelidade p{
    transition: 0.2s ease-in-out;
    opacity: 0;
}

.box-fidelidade {
    width: 10vw;

    height: 25vh;
    border-radius: 10px;
    background-color: red;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease-in-out;
}
.box-fidelidade img{
    width: 10vw;
    height: 15vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.ideais .box-fidelidade:hover{
    width: 10vw;
    height: 49vh;
    background-color: red;
    transition: 0.2s ease-in-out;
}
.ideais .box-fidelidade:hover p {
    opacity: 100%;
    transform: translateY(20px);
}
.ideais .box-fidelidade:hover h2 {
    right: 5vw;
}