@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body{
    margin: 0;
    font-family: "Cal Sans", 'Arial';
}
.conteiner {
    background-image: url("../assets/imgs/img-fundo-cadastro-login.png");
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box .campos{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 23%;
    height: 48vh;
    background-color: rgb(119, 119, 119, 0.3);
    border-radius: 10px;
}
.box .campos h1{
    margin-top: 40px;
}
.box .campos p{
    display: flex;
}
button {
    margin-top: 10px;
    width: 10vw;
    height: 24vh;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}
input {
    width: 12vw;
    height: 25vh;
    border-radius: 6px;
    border: 0;
}
.cadastro{
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: rgb(59, 59, 155);
}
.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}
.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}