@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body{
    margin: 0;
    font-family: "Cal Sans", 'Arial';
    background-color: hsl(217, 84%, 17%);

}
.conteiner {
    display: flex;
}
/* NAVBAR */
.nav-bar{
    margin: 0;
    height: 100vh;
    width: 15vw;
    background-color: #0A3880;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    position: fixed;
}
a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    margin-bottom: 20vh
}
.box {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 5vh;
    width: 10vw;
    background-color: #FDD500;
    border-radius: 40px;

    
}
.box a{
    position: relative;
    top: 1.3vh;
}
.box1 {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 5vh;
    width: 10vw;
    background-color: #FDD500;
    border-radius: 40px;

    
}
.box1 a{
    position: relative;
    top: 1.3vh;
}
.box2 {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 5vh;
    width: 10vw;
    background-color: #FDD500;
    border-radius: 40px;

    
}
.box2 a{
    position: relative;
    top: 1.3vh;
}
:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}

body {
    color: var(--new-black);
    background-color: var(--new-white);
    font-family: "Cal Sans", 'Arial';
}

.botaoIniciar button {
    border-radius: 20px;
    border: 0;
    font-weight: bold;
    width: 20vw;
    height: 10vh;
    background-color: #FDD500;
    transition: 0.3s ease-in-out;
}
.botaoIniciar {
    display: flex;
    justify-content: center;
    margin-left: 15vw;
}
.botaoIniciar:active button {
    width: 19.5vw;
    height: 9.5vh;
}
.botaoIniciar:hover button {
    background-color: #ffe762
}

button {
    cursor: pointer;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}
.border-primary {
    margin-left: 25vw;
}

.border-secondary {
    width: 98.9%;
    position: relative;
    top: 10vh;
}

.border-secondary button {
    padding-top: 25px;
    padding-bottom: 25px;
    border: 0;
    border-radius: 12px;
    margin-bottom: 10px;
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}
.conteiner-quiz {
    position: hidden;
    margin-top: 5vh;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
}
#questoes {
    width: 60vw;
    height: max-content;
    background-color: #FDD500;
    border-radius: 20px;
    opacity: 0%;
    transition: 0.5s ease-in-out;
    margin-left: 10vw;

}
.conteiner-box {
    position: hidden;
    display: flex;
    width: 100%;
}